body {
    font-family: "Montserrat";
    text-align: center;
}
#title {
    text-align: left;
}
#header-title {
    font-size: 4.5vh;
    line-height: 1.5;
    font-weight: bold;
    margin: 2.5rem;
}
.container-fluid {
    padding: 4% 8%;
}

/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}
.white-section {
    background-color: #fff;
}

/* Nav */

.navbar-toggler-icon{
    height: 60px;
    width: 60px;
}
.navbar {
    padding: 2vh;
}
.nav-item {
    padding: 0 1.125vh;
}
.nav-link {
    font-size: 1rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 4.5vh;
    font-weight: bold;
}

/* Download buttons */

.download-button {
    height: 25%;
    max-height: 80px;
    width: 40%;
    max-width: 250px;
    font-size: 1.5rem;
    margin: 2rem 2vh 2vh 2vh;
}

/* Title image */

.title-image {
    width: 25vw;
    max-width: 300px;
    transform: rotate(25deg); /* Image rotation */
    position: absolute;
    margin: 2vh;
    right: 15%;
}

/* Features section*/

#features {
    padding: 7% 14%;
    position: relative;
}
.feature-box {
    padding: 1rem;
}
.feature-box h3 {
    font-weight: bold;
}
.featureTitle{
    font-size: 2rem;
}
.featureText{
    font-size: 1.75rem;
}
.feature-box p {
    color: #8f8f8f;
}
.fa-circle-check, .fa-heart, .fa-bullseye {
    font-size: 250%;
    height: 3.5rem;
    color: #ef8172;
}
#features .icon:hover {
    color: #ff4c68;
}

/* Testimonial section */

#testimonials {
    background-color: #ef8172;
}
#testimonials h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 1rem;
}
.carousel-item {
    padding: 7% 15%;
}
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 1rem 1rem 2rem;
}

/* Pricing */

#pricing {
    padding: 6.25rem;
}
.pricing-column {
    padding: 3% 2%;
}
#pricing h3 {
    font-weight: bold;
}
@media (max-width: 991px) {
    #title {
        text-align: center;
    }
    .download-button {
        margin: 4% 2.5%;
    }
    .title-image {
        position: static;
        transform: rotate(0deg);
        width: 70%;
    }
}

/* Call to action */

#cta h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 4%;
}
#cta .download-button {
    margin: 0 1% 2%;
}

/* Copyright and contact*/

#footer {
    padding: 4%;
}
.media-icons {
    margin: 1% 2%;
}
.copyrightText{
    margin-top: 1vh;
}